@page
@model SuccessModel
@{
    ViewData["Title"] = "Success";
}

<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <img src = "./checkmark.svg" alt="Green checkmark icon" width="64" height="64" />
    
    <h1 class="display-4 mt-4">Thank you</h1>
    
    <p>Application submitted. You can now close this tab.</p>
</div>